/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Slab:wght@400;600;800&family=Signika:wght@400;500&display=swap');

/* Common Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    border: 1px solid #D1D1D1;
    background-color: #D1D1D1;
    margin-bottom: 25px;
}

.container {
    background-color: #fff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

/* Header part styles */
/* .head-bar {
    width: 1440px;
    background-color: #562EFF;
    margin: 0 auto;

}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 94px;
    text-align: center;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo img {
    width: 40px;
    height: 51px;
    display: block;
}

.logo .logo-name {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.navigation li {
    list-style-type: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.navigation img {
    width: 51px;
    height: 51px;
} */

/* Top Player styles */
.top-players {
    margin-bottom: 30px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 0;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
}

.player {
    display: flex;
    align-items: center;
    gap: 18px;
}

.player-name {
    font-size: 18px;
}

.player img {
    height: 56px;
    width: 56px;
}

/* Top blogs styles */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 30px;
}

.blog {
    display: flex;
    gap: 16px;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin: 0;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    font-size: 16px;
    color: #9F9F9F;
}

.blog-author a {
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}

/* Course Style */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    column-gap: 20px;

}

.course {
    border-radius: 10px;
    width: 250px;
    height: 270px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.courses .course img {
    width: 240px;
    height: 104px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filled {
    color: #ffc014;
}

.empty {
    color: #AEAEAE;
}

.course-info span {
    color: #A2A2A2;
}

.course-title {
    font-size: 20px;
}

.course-author {
    color: #ED6B4F;
    font-size: 15px;
    margin-top: -10px;
}

.course-duration {
    padding: 5px;
    background: #FFE4E8;
    border-radius: 15.6913px;
    color: #FF4A60;
}

/* @media Queries */
@media only screen and (max-width: 688px) {
    .header-container{
        width: 566px;
    }
}